.aside-sidehome {
    color: #61605F;
}

.list-group {
    border-radius: 8px;
}

.button-sidehome {
        border: none;
        background: transparent;
        width: 1.8rem;
        margin-top: 0px;
        margin-right: 0px;
}

.button-sidehome:hover {
    background-color: #d4d3d1;
    border-radius: 8rem;  
}

.svg-sidehome {
    margin-left: 0px;
    padding-bottom: 2px;
}

.hoverable-link {
    padding-bottom: 0px;
}

.hoverable-link:hover {
    background-color: #eeeded;
   text-decoration: none;
   color: #61605F!important;
}

.promoted-sidehome:hover {
    text-decoration: underline;
}
