.searchInput{
    font-size: 14px;
    height: 36px;
    padding-bottom: 10px;
    border-radius: 2px;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    border-color: rgba(0,0,0,0.08);
    background-color: #eef3f8;
    border-radius: .4rem;
    color: rgba(0,0,0,0.9);
    padding: 0 8px 0 40px;
}


.searchIcon{
    background-color: #eef3f8;
    border-radius: 24px 0 0 24px !important;
}

.search-Wrapper {
    max-width: 425px;
}