.side-container img{
    width: 45px;
    border: 1px solid rgb(216, 216, 216);
    padding: 5px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 3px;

}

.main-container{
    background-color: white;
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.side-container img:hover{
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}


.title{
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    padding: 10px 10px 0px 10px;
    border-top: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 400px;
}




.icon-section-one{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    
}

.side-container{
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 400px;
    padding-top: 0px;
}

.icons{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}


.services{
    background-color: white;
    width: 400px;
}

.title-two{
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    padding: 10px 15px 10px 10px;
    margin-top: 5px;
    border: 1px solid rgb(214, 213, 213);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.list-services ul{
    list-style-type: none;
    margin-top: 15px;
    padding-left: 3px;
    border-right: 1px solid rgb(214, 213, 213);
    border-left: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213);
}

.article{
    font-weight: 500;
    font-size: 14px;
    color: black;
    
    
}


.list-services ul li{
    margin-bottom: 10px;
}

#root > div > div:nth-child(2) > div > div:nth-child(4) > div.services > div.list-services > ul > li:nth-child(1) > span:nth-child(3){
    color: gray;
}

.create{
    width: 100%;
    border-top: 1px solid rgb(216, 216, 216) !important;
    border: none;
    background-color: transparent;
    font-weight: 500;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.create span{
    font-size: 20px;
}

a{
    color: inherit;
}


#show{
    cursor: pointer;
}


.form-group img{
    width: 20px;
    margin-right: 7px;
}

textarea{
    resize: none;
}

.form-group{
    font-size: 15px;
}

form{
    border: 1px solid rgb(206, 206, 206);
    padding: 18px;
}

.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 5px;
    color: #0A66C2;
    font-weight: 500;
    font-size: 28px;
}

/* Spinner */


.shapes-5 {
    width:80px;
    height: 80px;
    display: grid;
  }
  .shapes-5:before,
  .shapes-5:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: #539dff;
    -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
    animation: sh5 1.5s infinite;
  }
  .shapes-5:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
    --s:-1;
  }
  
  @keyframes sh5 {
    0%,
    10% {transform: translate(0) rotate(0)}
    35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
    66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
    90%,
    100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
  }




  
.infinity-3 {
    width:calc(200px / 0.707); /* 0.707 = cos(45deg) */
    height:14px;
    background: repeating-linear-gradient(-45deg, rgb(63, 145, 253) 0 15px,white 0 20px) left/200% 100%;
    animation:i3 2s infinite linear;
  }
  @keyframes i3 {
      100% {background-position:right}
  }
  

  
.wobbling-3{
    width:20px;
    height:20px;
    animation: w3-0 2s linear infinite;
  }
  .wobbling-3::before,
  .wobbling-3::after {
    content: "";
    position:absolute;
    inset:0;
    border-radius:50%;
    background:radial-gradient(at 30% 30%,#0000,#000a) rgb(49, 128, 255);
    animation: w3-1 0.5s cubic-bezier(.5,-500,.5,500) infinite;
  }
  .wobbling-3::after {
    animation-delay: -0.15s;
  }
  
  @keyframes w3-0 { 
    100% { transform:rotate(360deg)} 
  }
  @keyframes w3-1 { 
    100% { transform:translate(0.5px)} 
  }


  .transitionPageBody{
      background-color: white;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      
  }

  .transitionPageBody img{
      width: 600px;
  }