.dashboard {
  background-color: #dde6f1;
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  box-shadow: none;

  padding: 12px 24px !important;
}
.dashboard a {
  color: #757272;
  /*  text-decoration: none; */
}
.dashboard a:hover {
  color: #757272 !important;
  text-decoration-color: #0c67c2;
}
.dashboard .dashboard-middle-container {
  display: flex;
  background-color: white;
  margin: 12px 0;
  border-radius: 5px;
}
.dashboard .dashboard-view {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 12px 0;
  padding: 0px 12px;
}
.dashboard .profile-view,
.dashboard .article-view,
.dashboard .search-appearances {
  border-left: 1px solid #dde6f1;
  flex-grow: 1;
}
/* @media (max-width: 400px) {
  .dashboard-middle-container {
    flex-direction: column;
  }
} */
.dashboard .no-view {
  color: #0a66c2;
  font-size: 2rem;
}
.dashboard .dashboard-bottom-container {
  background-color: white;
  padding: 0px 20px;
  margin: 16px 0;
  border-radius: 5px;
}
/* .dashboard-bottom-container a {
  padding: 12px !important;
} */
.creatormode-content,
.mynetwork-content,
.salaryinsights-content,
.myitems-content {
  display: flex;
  flex-grow: 1;
}
.dashboard-bottom-container h5,
.dashboard-bottom-container p {
  margin-left: 16px !important;
  margin-bottom: 5px;
}

.dashboard-section__hr {
  position: relative !important;
}
.dashboard-section__hr::before {
  content: "";
  display: block;
  background-color: rgb(231, 229, 229);
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 42px;
  padding-right: 5px;
}
/* .dashboard svg {
  margin-top: 10px;
} */
.dashboard .p-h5 {
  margin-top: 8px;
}
.dashboard-svg {
  /*  display: flex;
  align-self: center; */
  margin-top: 10px;
}
.dashboard p {
}
