.dashboard {
  background-color: #dde6f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: none;

  padding: 12px 24px !important;
}
.dashboard a {
  color: #757272;
}
.dashboard a:hover {
  color: #757272 !important;
  text-decoration-color: #0c67c2;
}
.dashboard .dashboard-middle-container {
  display: flex;
  background-color: white;
  margin: 12px 0;
  border-radius: 10px;
}
.dashboard .dashboard-view {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 12px 0;
  padding: 0px 12px;
}
.dashboard .profile-view,
.dashboard .article-view,
.dashboard .search-appearances {
  border-left: 1px solid #dde6f1;
  flex-grow: 1;
}
/* @media (max-width: 400px) {
  .dashboard-middle-container {
    flex-direction: column;
  }
} */
.dashboard .dashboard-top-container h5 {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.dashboard .dashboard-top-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}
.dashboard .no-view {
  color: #0a66c2;
  font-size: 32px;
  font-weight: 200;
}
.dashboard .dashboard-bottom-container {
  background-color: white;
  padding: 0;
  margin: 16px 0;
  border-radius: 10px;
}
/* .dashboard-bottom-container a {
  padding: 12px !important;
} */
.creatormode-content,
.mynetwork-content,
.salaryinsights-content,
.myitems-content {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}
.dashboard-bottom-container h5,
.dashboard-bottom-container p {
  margin-left: 16px !important;
  margin-bottom: 5px;
}

.dashboard-section__hr {
  position: relative !important;
}
.dashboard-section__hr::before {
  content: "";
  display: block;
  background-color: #e7e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 7%;
}
.dashboard .p-h5 {
  margin-top: 5px;
}
.dashboard-svg {
  margin-top: 10px;
}

.dashboard .p-h5 h5 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.dashboard .p-h5 p {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
/* post */
.post {
  margin: 0 0 8px;
  background-color: white;
  /* padding: 8px; */
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.img-post {
  display: flex;
  align-items: center !important;
  margin: 8px 16px 0 16px;
}
.img-post img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-clip: content-box;
}
.img-post .btn-post {
  margin: 10px 5px;
  /* font-size: 1.4rem;; */
  flex-grow: 1;
  max-width: none;
  justify-content: left;
  line-height: 1.5;
  border: 1px solid #a4a4a4;
  border-radius: 35px !important;
  padding: 10px 16px;
  /*   padding-left: 16px !important; */
}
.btn-light {
  background-color: white !important;
}

.btn-light:hover {
  background-color: #ebebeb !important;
}
.img-post .btn-post .photo-video-event-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: none;
  border-bottom: 4px;
}
.photo-btn,
.video-btn,
.event-btn,
.write-article-btn {
  font-size: 16px;
  padding: 0 16px;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  border: none;
}
.photo-video-event-article button {
  border: none;
  background-color: transparent;
}

.photo-btn svg {
  color: #70b5f9;
  margin-right: 10px;
}
.video-btn svg {
  color: #7fc15e;
  margin-right: 10px;
}
.event-btn svg {
  color: #e7a33e;
  margin-right: 10px;
}
.write-article-btn svg {
  color: #fc9295;
  margin-right: 10px;
}

/* featured */

.featured {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* margin: 16px 0; */
}
.featured svg {
  color: #5e5e5e;
  margin-top: 9px;
}
.feature-icon {
  color: #5e5e5e;
  width: 40px;
  height: 40px;
}
.feature-icon:hover {
  background-color: #ebebeb !important;
  border-radius: 50%;
}
.featured-col {
  border: 1px solid #e7e5e5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 12px 12px;
}
.featured-h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000e6;
}
.feautured-certificate-p1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000000e6;
}
.feautured-certificate-span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #00000099;
}
.feautured-certificate-p2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000e6;
}
/* activity */
.activity {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.activity img {
  width: 56px;
  height: 56px;
  object-position: center;
  object-fit: cover;
  margin-right: 8px;
}
.activity .followers {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #00000099;
  display: block;
  margin-bottom: 10px;
}
.activity .activity-wrapper {
  margin: 0 0 16px;
}
.activity h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000e6;
  margin-bottom: 0px;
}
.activity h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #000000e6;
}
.activity .span1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000e6;
  display: block;
}
.activity .span2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #00000099;
  display: block;
}
.activity .all-activity {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin: 16px -24px -24px;
  text-decoration: none;
  cursor: pointer;
}
.activity .all-activity:hover {
  background-color: #ebebeb;
}
.activity .a {
  text-decoration: none;
}

/* about */
.about {
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.about h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000e6;
}
.about p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #000000e6;
}
.about .read-more {
  display: inline-block;
  margin-left: 100px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #000000e6;
  cursor: pointer;
  text-decoration: none;
}
.about a {
  text-decoration: none;
}
.about .read-more:hover,
.read-less:hover {
  color: #5a66ce;
}

/* create-post */
.create-post {
  background-color: white;
  border-radius: 10px;
  /*  padding: 24px; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  width: 552px;
}
.create-post .create-post-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 24px 16px 24px;
}
.create-post-header h2 {
  font-size: 20px;
  font-weight: 400;
  color: #000000e6;
}
div.modal-header > button > span:nth-child(1) {
  font-size: 32px;
  font-weight: 400px;
}
/* .create-post-header svg {
  font-size: 16px;
  font-weight: 600;
  color: #000000e4;
} */
.create-post-body {
  padding: 12px 24px;
}
.create-post-user {
  margin-bottom: 12px;
}
.create-post-user img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-clip: content-box;
}
.create-post-user .user-name {
  font-size: 16px;
  font-weight: 600;
  color: #000000e6;
}
.create-post-user .user-name-btn-container {
  margin-left: 4px;
  padding-left: 4px;
}

.create-post-user .btn-who-see-post {
  border-radius: 35px;
  padding: 0px 10px 4px;
  align-self: flex-start;
  border: 1px solid #616161;
}
.btn-who-comment svg,
.btn-who-see-post svg {
  color: #666666;
}

.btn-who-see-post-text,
.btn-who-comment-text {
  font-size: 14px;
}
.create-post .post-area-container {
  /*  margin: 12px 24px;
  padding: 0px; */
}
.post-area-container .post-area {
  border: none !important;
  padding-left: 0;
  resize: none;
}
.btn-add-hashtag {
  /* padding: 6px 8px; */
  color: #3983ce;
  font-size: 16px;
  font-weight: 600;
}
.btn-add-hashtag:hover {
  padding: 6px 8px;
  background-color: #b7b7dd1a;
  cursor: pointer;
}
.create-post-body-footer {
  padding-top: 12px;
}
.create-post-body-footer-icons {
  border-right: 1px solid #00000025;
}
.create-post-body-footer-icons svg {
  margin-right: 8px;
  color: #666666;
}
.create-post-body-footer .btn-who-comment-contianer {
  padding-left: 8px;
}
.create-post-body-footer .btn-who-comment {
  border-radius: 35px;
  padding: 0px 12px 4px !important;
}
.create-post-body-footer .btn-post {
  border-radius: 20px;
  padding: 0px 16px !important;
  height: 32px;
  width: 63px;
  text-align: center;
}
